body {
	background-color: #999;
}

h1 {
	text-align: center;
	font-family: Arial;
	color: yellow;
	margin-top: 36px;
    margin-bottom: 30px;
}

img {
	opacity: 0;
	height: 60px;
	width: 60px;
	display: block;
	margin: 10px auto 0;
}

.button-row {
	margin-top: 24px;
}

.score {
	grid-column: 2 / span 2;
}

.score img {
	opacity: 1;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 10px 0 0;
}

/*////////////// animations ////////////////*/

.color-change {
	-webkit-animation-name: colorChange; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: colorChange;
	animation-duration: 1s;
	animation-fill-mode: forwards; 	
}

@keyframes colorChange {
    0% {background-color: red;}
    100% {background-color: yellow;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorChange {
    from {background-color: red;}
    to {background-color: yellow;}
}

.fade-in {
	-webkit-opacity: 1; /* Safari 4.0 - 8.0 */
	-webkit-animation-name: fadeInOpacity; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
	-webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
