body {
	background-color: #6534ff;
	font-family: Montserrat, Verdana, sans-serif;
}

.main {
	width: 320px;
	margin: 0 auto;
}

h1 {
	font-size: 1.75em;
	text-align: center;
	color: #bbc4ef;
	margin-top: 72px;
    margin-bottom: 36px;
}

img {
	opacity: 0;
	height: 60px;
	width: 60px;
	display: block;
	margin: 10px auto 0;
}

.button-row {
	margin-top: 28px;
}

.counter {
	margin: 0;
	text-align: center;
}

.score {
	grid-column: 2 / span 2;
}

#banner {
	z-index: 1;
}

.disabled {
	/* prevents user from triggering multiple click
	events on cards that have already been revealed 
	and/or revealing more than two cards per move */
	pointer-events: none;
}

/*////////////// animations ////////////////*/

.color-change {
	-webkit-animation-name: colorChange; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: colorChange;
	animation-duration: 0.5s;
	animation-fill-mode: forwards; 	
}

@keyframes colorChange {
    0% {background-color: #6534ff;}
    100% {background-color: #62bcfa;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorChange {
    from {background-color: #6534ff;}
    to {background-color: #62bcfa;}
}

.fade-in {
	-webkit-opacity: 1; /* Safari 4.0 - 8.0 */
	-webkit-animation-name: fadeInOpacity; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
	-webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.flicker {
	-webkit-animation-name: flicker;/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s;/* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite;/* Safari 4.0 - 8.0 */
	animation-name: flicker;
	animation-duration: 0.5s;
	animation-iteration-count: infinite; 
}

@keyframes flicker {
    0% {color: #fccdd3;} /*pink*/
    33% {color: #92e1af;} /*seafoam*/
    66% {color: #feff9d;} /*yellow*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flicker {
	0% {color: #fccdd3;} /*pink*/
	33% {color: #92e1af;} /*seafoam*/
	66% {color: #feff9d;} /*yellow*/
}
